body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .content {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .dark-mode-toggle {
    position: fixed;
    width: 60px;
    height: 30px;
    margin-left: 1200px;
    margin-top: 30px;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(16, 97, 177);
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  input:checked + .toggle-label {
    background-color: #666;
  }
  
  input:checked + .toggle-label + .toggle-bg {
    transform: translateX(100%);
  }